<div class="container">
    <div class="header">
        <h1>User Management System Application</h1>
    </div>
    <div class="con">
        <h2>In a nutshell:</h2>
        <h3>
          <b>Step:1</b> Register with valid information. <br>
          <b>Step:2</b>  Log in with UserName and Passaword. <br>
          <b>Step:3</b>  You can edit your information if needed. <br>
        </h3>
    </div>
    <div class="tech">
      <h2>Technology:</h2>
      <h3>
        <b>Web Portal:</b> Angular (15.0.0)<br>
        <b>BackEnd: </b>NodeJs (18.12.1)<br>
        <b>Database: </b>PostgreSQL
        </h3>
  </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <div class="footer">
      <h5>Asib Mostakim Fony</h5>
    </div>
  </div>